<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <%= link_to restaurants_path, class: "navbar-brand" do %>
        <%= image_tag "https://banner2.cleanpng.com/20180803/rio/kisspng-logo-cmo-axis-marketing-outsourcing-services-pvt-l-leading-marketing-company-in-india-l-marketing-out-5b6517c66fac97.8533440415333518784574.jpg" %>
      <% end %>

      <%= link_to 'Add a new restaurant', new_restaurant_path, class: "btn btn-primary" %>
    </nav>

    <div class="container my-3">

      <%= yield %>

    </div>

  </body>
</html>
